
{% autoescape off %}
Hi {{person}},

  Congrats, You successfully {{action}} a book whose details as follow

  Book Name:  {{bname}}
  Category: {{category}}
  {{ActionDo}}:  {{secondPerson}}
  Price:  {{price}}
  publication: {{publication}}

  Please Arrive in office of Bookify with {{things}} {{limit}} days.
  OtherWise Transaction will be Cancel.

  Office Warehouse Detail:
  Bookify Warehouse 
  Mitrapark, Chabhil, Kathmandu.











 This e-mail may contain confidential and/or privileged information. If you
are not the intended recipient (or have received this e-mail in error)
please notify the sender immediately and destroy this e-mail. Any
unauthorized copying, disclosure or distribution of the material in this
e-mail is strictly forbidden.


  {% endautoescape %}