{% extends 'base.html' %} {% load static %} {% block title %} Bookify: online book sharing platform {% endblock %} {% block internalCss %} body{ background-color:#f5f5f5; } {% endblock %} {% block link %}

<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css" />

<!-- <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> -->

<!-- Slick -->
<link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
<!-- nouislider -->
<link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css' %}" />

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

{% endblock %} {% block content %}

<!-- NAVIGATION -->
<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            <!-- category nav -->
            <div class="category-nav">
                <span class="category-header">Categories <i class="fa fa-list"></i
        ></span>
                <ul class="category-list">
                    <li><a href="">Bachelor</a></li>
                    <li><a href="">Master</a></li>
                    <li><a href="">+2</a></li>
                    <li><a href="">SEE</a></li>
                    <li><a href="">School</a></li>
                    <li><a href="">Extra</a></li>
                </ul>
            </div>
            <!-- /category nav -->
            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="">&nbsp&nbsp&nbsp&nbsp&nbspMy Account</a></li>
                    <!-- <li><a href="#">Latest Collection</a></li> -->
                    <li><a href="">&nbsp&nbsp&nbsp&nbsp&nbspSell/Donate</a></li>
                    <li><a href="">&nbsp&nbsp&nbsp&nbsp&nbspAbout us</a></li>
                </ul>
            </div>
            <!-- menu nav -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /NAVIGATION -->

<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                {% for slide in homeslide %}
                <!-- banner -->

                <div class="banner banner-1">
                    <img src="https://wallpaperaccess.com/full/5487841.jpg" height="358px" alt="" />
                    <div class="banner-caption text-center">
                        <h1>{{slide.text1|default_if_none:''}}</h1>
                        <h3 class="white-color font-weak">
                            {{slide.text2|default_if_none:''}}
                        </h3>

                        {% if slide.show %}
                        <button class="primary-btn">Shop Now</button> {% endif %}
                    </div>
                </div>
                <!-- /banner -->
                {% endfor %}
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->

<!-- end of scroll div -->

{% if msg %}
<script>
    Swal.fire("Added To Cart", "Press ok to close it", "success").then(
        function() {
            window.location.href = "{% url 'homepage' %}";
        }
    );
</script>

{% endif %} {% if already %}
<script>
    Swal.fire(
        "This Product Already in your Cart",
        "Press ok to close it",
        "success"
    ).then(function() {
        window.location.href = "{% url 'homepage' %}";
    });
</script>

{% endif %} {% endblock %}