
.newarrival{
    background: green;
    width: 50px;
    color:white;
    font-size:12px;
    font-weight:bold;
}
.col-md-7 h2{
    color:#555;
    font-weight: bold;
}

.price{
    color: #FF980F;
    font-size:25px;
    font-weight: bold;
    padding-top: 10px;

}
input{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width:30px;
}
.buy{
    border: none;
    background-color: #fe980f;
    color: white;
    font-size:15px;
    font-weight: bold;
    margin-left:20px;
    height: 30px;
    border-radius: 4px;
}